<div class="page-header">
  <h1><%= t "helpers.titles.balance_sheet" %></h1>
</div>

<table class='table_inline' cellpadding="20">
  <tr>
    <!-- 資産項目残高表 -->
    <td>
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
          <tr>
            <th><%= t "helpers.titles.accounts" %></th>
            <th><%= t "activerecord.attributes.property.stock" %></th>
          </tr>
        </thead>
        <tbody>
          <% sum_property = num = 0 %>
          <% js_params_property = {} %>
          <% @property_groups.each do | property_group | %>
            <tr data-toggle="collapse" data-parent="#accordion2" href=".collapseProperty<%=property_group.id%>" class="accordion-parent">
                <td>
                  <%= property_group.name %>
                  <div class="accordion-body collapse collapseProperty<%=property_group.id%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% property_group.properties.each do | property | %>
                        <li><%= property.name %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= property_group.properties.sum( :stock ) %>
                  <div class="accordion-body collapse collapseProperty<%=property_group.id%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% property_group.properties.each do | property | %>
                        <li><%= property.stock %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
<%
            # js用パラメータ
            sum_property += property_group.properties.sum( :stock ).to_i

            color_pattern = getColorPattern( num = num.succ )
            js_params_property[property_group.properties.sum( :stock )] = {
              'value': property_group.properties.sum( :stock ).to_i,
              'color': color_pattern["color"],
              'highlight': color_pattern["highlight"],
              'label': property_group.name
            }
%>
          <% end %>
          <tr class='tr_sum'>
            <td><b>総<%= t "activerecord.models.property" %></b></td>
            <td><b><%= sum_property %></b></td>
          </tr>
        </tbody>
      </table>
    </td>

    <!-- 負債項目残高表 -->
    <td>
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
          <tr>
            <th><%= t "helpers.titles.accounts" %></th>
            <th><%= t "activerecord.attributes.debt.stock" %></th>
          </tr>
        </thead>
        <tbody>
          <% sum_debt = num = 0 %>
          <% js_params_debt = {} %>
          <% @debt_groups.each do | debt_group | %>
            <tr data-toggle="collapse" data-parent="#accordion2" href=".collapseDebt<%=debt_group.id%>" class="accordion-parent">
                <td>
                  <%= debt_group.name %>
                  <div class="accordion-body collapse collapseDebt<%=debt_group.id%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% debt_group.debts.each do | debt | %>
                        <li><%= debt.name %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= debt_group.debts.sum( :stock ) %>
                  <div class="accordion-body collapse collapseDebt<%=debt_group.id%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% debt_group.debts.each do | debt | %>
                        <li><%= debt.stock %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
<%
            # js用パラメータ
            sum_debt += debt_group.debts.sum( :stock ).to_i

            color_pattern = getColorPattern( num = num.succ )
            js_params_debt[debt_group.debts.sum( :stock )] = {
              'value': debt_group.debts.sum( :stock ).to_i,
              'color': color_pattern["color"],
              'highlight': color_pattern["highlight"],
              'label': debt_group.name
            }
%>
          <% end %>
          <tr class='tr_sum'>
            <td><b>総<%= t "activerecord.models.debt" %></b></td>
            <td><b><%= sum_debt %></b></td>
          </tr>
        </tbody>
      </table>
    </td>

  <tr>
    <!-- 資産項目残高表 -->
    <td>
      <canvas id="canvas_property" width="300px" height="300px"></canvas>
      <div class="canvas-title"><%= sum_property %></div>
    </td>
    <!-- 負債項目残高表 -->
    <td>
      <canvas id="canvas_debt" width="300px" height="300px"></canvas>
      <div class="canvas-title"><%= sum_debt %></div>
    </td>
  </tr>

</table>

<%= javascript_include_tag "Chart" %>

<script>
  $(function() {
    // 表示用データを用意
    var data_property = $.parseJSON( '<%= js_params_property.to_json().html_safe  %>' );
    var data_debt = $.parseJSON( '<%= js_params_debt.to_json().html_safe  %>' );

    var option = {
      showTooltips: true,
      onAnimationComplete: function(){ this.showTooltip(this.segments, true); },
    };

    // Canvasに描画
    var context_property = document.getElementById("canvas_property").getContext( "2d" );
    new Chart( context_property ).Doughnut( data_property, option );

    var context_debt = document.getElementById("canvas_debt").getContext( "2d" );
    new Chart( context_debt ).Doughnut( data_debt, option );

    // アコーディオンの設定
    $( ".accordion-parent" ).click(function () {
      $( this ).attr( 'data-href' );
    });

  });
</script>
