<%= javascript_include_tag "Chart", "Book" %>
<%= setYears( @year, ApplicationHelper::PATH_TYPE_PL ) %><br />
<%= setMonths( @year, @month, ApplicationHelper::PATH_TYPE_PL ) %>

<div class="page-header">
  <h1><%= "#{@year}年#{@month}月の#{t 'helpers.titles.profit_loss_statement' }" %></h1>
</div>

<div class="container">
  <div class="row" style="display:table">
    <!-- 収入項目 -->
    <h4 class="title"><%= t "activerecord.models.profit" %></h4>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
          <tr>
            <th><%= t "helpers.titles.accounts" %></th>
            <th><%= t "helpers.titles.profit_loss_statement" %></th>
            <th><%= t "helpers.titles.budget" %></th>
            <th><%= t "helpers.titles.budget_variance" %></th>
          </tr>
        </thead>
        <tbody>
          <% sum_profit = sum_profit_budget = sum_profit_budget_variance = num = 0 %>
          <% js_params_profit = {} %>
          <% @profit_groups.each do | profit_group | %>
            <% amount_sum = getSumProfitAmount( profit_group.id ) %>
            <% budget_sum = profit_group.profits.sum( :budget ) %>
            <tr data-toggle="collapse" data-parent="#accordion2" href=".collapseProfit<%=num%>" class="accordion-parent">
                <td>
                  <%= profit_group.name %>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.profits.each do | profit | %>
                        <li><%= profit.name %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= amount_sum %>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.profits.each do | profit | %>
                        <li><%= getProfitAmount( profit_group.id, profit.id ) %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= budget_sum %>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.profits.each do | profit | %>
                        <li><%= profit.budget %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <% budget_variance = amount_sum - budget_sum %>
                  <span class="<%= budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= budget_variance %></span>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.profits.each do | profit | %>
                        <li><span class="<%= profit.budget - getProfitAmount( profit_group.id, profit.id ) > 0 ? 'up_color' : 'down_color'%>"><%= profit.budget - getProfitAmount( profit_group.id, profit.id ) %></span></li>
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
<%
            # js用パラメータ
            sum_profit += amount_sum
            sum_profit_budget += budget_sum
            sum_profit_budget_variance += budget_variance

            color_pattern = getColorPattern( num = num.succ )
            js_params_profit[amount_sum] = {
              'value': amount_sum,
              'color': color_pattern["color"],
              'highlight': color_pattern["highlight"],
              'label': profit_group.name
            }
%>
          <% end %>
          <tr class='tr_sum'>
            <td><b>総<%= t "activerecord.models.profit" %></b></td>
            <td><b><%= sum_profit %></b></td>
            <td><b><%= sum_profit_budget %></b></td>
            <td><b><span class="<%= sum_profit_budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= sum_profit_budget_variance %></span></b></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 収入項目残高表 -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <canvas id="canvas1" width="300px" height="300px"></canvas>
      <div class="canvas-title"><%= sum_profit %></div>
    </div>

    <!-- 回り込み解除 -->
    <p  style="clear:left;">

    <!-- 支出項目 -->
    <h4 class="title"><%= t "activerecord.models.loss" %></h4>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
          <tr>
            <th><%= t "helpers.titles.accounts" %></th>
            <th><%= t "helpers.titles.profit_loss_statement" %></th>
            <th><%= t "helpers.titles.budget" %></th>
            <th><%= t "helpers.titles.budget_variance" %></th>
          </tr>
        </thead>
        <tbody>
          <% sum_loss = sum_loss_budget = sum_loss_budget_variance = num = 0 %>
          <% js_params_loss = {} %>
          <% @loss_groups.each do | loss_group | %>
            <% amount_sum = getSumLossAmount( loss_group.id ) %>
            <% budget_sum = loss_group.losses.sum( :budget ) %>
            <tr data-toggle="collapse" data-parent="#accordion2" href=".collapseLoss<%=num%>" class="accordion-parent">
                <td>
                  <%= loss_group.name %>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.losses.each do | loss | %>
                        <li><%= loss.name %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= amount_sum %>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.losses.each do | loss | %>
                        <li><%= getLossAmount( loss_group.id, loss.id ) %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= budget_sum %>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.losses.each do | loss | %>
                        <li><%= loss.budget %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <% budget_variance = budget_sum - amount_sum %>
                  <span class="<%= budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= budget_variance %></span>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.losses.each do | loss | %>
                        <li><span class="<%= loss.budget - getLossAmount( loss_group.id, loss.id ) > 0 ? 'up_color' : 'down_color'%>"><%= loss.budget - getLossAmount( loss_group.id, loss.id ) %></span></li>
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
<%
            # js用パラメータ
            sum_loss += amount_sum
            sum_loss_budget += budget_sum
            sum_loss_budget_variance += budget_variance

            color_pattern = getColorPattern( num = num.succ )
            js_params_loss[amount_sum] = {
              'value': amount_sum,
              'color': color_pattern["color"],
              'highlight': color_pattern["highlight"],
              'label': loss_group.name
            }
%>
          <% end %>
          <tr class='tr_sum'>
            <td><b>総<%= t "activerecord.models.loss" %></b></td>
            <td><b><%= sum_loss %></b></td>
            <td><b><%= sum_loss_budget %></b></td>
            <td><b><span class="<%= sum_loss_budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= sum_loss_budget_variance %></span></b></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 支出項目残高表 -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <canvas id="canvas2" width="300px" height="300px"></canvas>
      <div class="canvas-title"><%= sum_loss %></div>
    </div>
  </div>
</div>

<script>
  // 表示用データを用意
  var data_profit = $.parseJSON( '<%= js_params_profit.to_json().html_safe  %>' );
  var data_loss = $.parseJSON( '<%= js_params_loss.to_json().html_safe  %>' );

  function ready() {
    // include遅延があったら再コールする
    if ( typeof initCanvasDoughnut != "function" ) {
      setTimeout( "ready()", 1 );
      return;
    }

    // Turbolinksのせいで遷移時にreadyが発火しない
    documentReady( initCanvasDoughnut( data_profit, data_loss ) );
  }

  ready();
</script>
