<%= setYears( @year, ApplicationHelper::PATH_TYPE_PL ) %><br />
<%= setMonths( @year, @month, ApplicationHelper::PATH_TYPE_PL ) %>

<div class="page-header">
  <h1><%= "#{@year}年#{@month}月の#{t 'helpers.titles.profit_loss_statement' }" %></h1>
</div>

<div class="container">
  <div class="row" style="display:table">
    <!-- 収入項目 -->
    <h4 class="title"><%= t "activerecord.models.profit" %></h4>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
          <tr>
            <th><%= t "helpers.titles.accounts" %></th>
            <th><%= t "helpers.titles.profit_loss_statement" %></th>
            <th><%= t "helpers.titles.budget" %></th>
            <th><%= t "helpers.titles.budget_variance" %></th>
          </tr>
        </thead>
        <tbody>
          <% sum_profit = sum_profit_budget = sum_profit_budget_variance = num = 0 %>
          <% js_params_profit = {} %>
          <% @profits.each do | profit_group_name, profit_group | %>
            <tr data-toggle="collapse" data-parent="#accordion2" href=".collapseProfit<%=num%>" class="accordion-parent">
                <td>
                  <%= profit_group_name %>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.each do | key, profit | %>
                        <li><%= profit['name'] %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <% amount_sum = budget_sum = 0 %>
                  <% profit_group.each do | key, profit | %>
                    <% amount_sum += profit['pl'] %>
                    <% budget_sum += profit['budget'] %>
                  <% end %>
                  <%= amount_sum %>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.each do | key, profit | %>
                        <li><%= profit['pl'] %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= budget_sum %>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.each do | key, profit | %>
                        <li><%= profit['budget'] %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <% budget_variance = amount_sum - budget_sum %>
                  <span class="<%= budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= budget_variance %></span>
                  <div class="accordion-body collapse collapseProfit<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% profit_group.each do | key, profit | %>
                        <li><span class="<%= profit['budget'] - profit['pl'] > 0 ? 'up_color' : 'down_color'%>"><%= profit['budget'] - profit['pl'] %></span></li>
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
<%
            # js用パラメータ
            sum_profit += amount_sum
            sum_profit_budget += budget_sum
            sum_profit_budget_variance += budget_variance

            color_pattern = getColorPattern( num = num.succ )
            js_params_profit[amount_sum] = {
              'value': amount_sum,
              'color': color_pattern["color"],
              'highlight': color_pattern["highlight"],
              'label': profit_group_name
            }
%>
          <% end %>
          <tr class='tr_sum'>
            <td><b>総<%= t "activerecord.models.profit" %></b></td>
            <td><b><%= sum_profit %></b></td>
            <td><b><%= sum_profit_budget %></b></td>
            <td><b><span class="<%= sum_profit_budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= sum_profit_budget_variance %></span></b></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 収入項目残高表 -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <canvas id="canvas_profit" width="300px" height="300px"></canvas>
      <div class="canvas-title"><%= sum_profit %></div>
    </div>

    <!-- 回り込み解除 -->
    <p  style="clear:left;">

    <!-- 支出項目 -->
    <h4 class="title"><%= t "activerecord.models.loss" %></h4>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <table class="table table-hover" style="table-layout: fixed;">
        <thead>
          <tr>
            <th><%= t "helpers.titles.accounts" %></th>
            <th><%= t "helpers.titles.profit_loss_statement" %></th>
            <th><%= t "helpers.titles.budget" %></th>
            <th><%= t "helpers.titles.budget_variance" %></th>
          </tr>
        </thead>
        <tbody>
          <% sum_loss = sum_loss_budget = sum_loss_budget_variance = num = 0 %>
          <% js_params_loss = {} %>
          <% @losses.each do | loss_group_name, loss_group | %>
            <tr data-toggle="collapse" data-parent="#accordion2" href=".collapseLoss<%=num%>" class="accordion-parent">
                <td>
                  <%= loss_group_name %>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.each do | key, loss | %>
                        <li><%= loss['name'] %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <% amount_sum = budget_sum = 0 %>
                  <% loss_group.each do | key, loss | %>
                    <% amount_sum += loss['pl'] %>
                    <% budget_sum += loss['budget'] %>
                  <% end %>
                  <%= amount_sum %>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.each do | key, loss | %>
                        <li><%= loss['pl'] %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <%= budget_sum %>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.each do | key, loss | %>
                        <li><%= loss['budget'] %></li>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td>
                  <% budget_variance = budget_sum - amount_sum %>
                  <span class="<%= budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= budget_variance %></span>
                  <div class="accordion-body collapse collapseLoss<%=num%>" style="height: 0px;">
                    <div class="accordion-inner">
                      <% loss_group.each do | key, loss | %>
                        <li><span class="<%= loss['budget'] - loss['pl'] > 0 ? 'up_color' : 'down_color'%>"><%= loss['budget'] - loss['pl'] %></span></li>
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
<%
            # js用パラメータ
            sum_loss += amount_sum
            sum_loss_budget += budget_sum
            sum_loss_budget_variance += budget_variance

            color_pattern = getColorPattern( num = num.succ )
            js_params_loss[amount_sum] = {
              'value': amount_sum,
              'color': color_pattern["color"],
              'highlight': color_pattern["highlight"],
              'label': loss_group_name
            }
%>
          <% end %>
          <tr class='tr_sum'>
            <td><b>総<%= t "activerecord.models.loss" %></b></td>
            <td><b><%= sum_loss %></b></td>
            <td><b><%= sum_loss_budget %></b></td>
            <td><b><span class="<%= sum_loss_budget_variance > 0 ? 'up_color' : 'down_color'%>"><%= sum_loss_budget_variance %></span></b></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 支出項目残高表 -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <canvas id="canvas_loss" width="300px" height="300px"></canvas>
      <div class="canvas-title"><%= sum_loss %></div>
    </div>
  </div>
</div>

<%= javascript_include_tag "Chart" %>
<script>
  $(function() {
    // 表示用データを用意
    var data_profit = $.parseJSON( '<%= js_params_profit.to_json().html_safe  %>' );
    var data_loss = $.parseJSON( '<%= js_params_loss.to_json().html_safe  %>' );

    var option = {
      showTooltips: true,
      onAnimationComplete: function(){ this.showTooltip(this.segments, true); },
    };

    // Canvasに描画
    var context_profit = document.getElementById("canvas_profit").getContext( "2d" );
    new Chart( context_profit ).Doughnut( data_profit, option );

    var context_loss = document.getElementById("canvas_loss").getContext( "2d" );
    new Chart( context_loss ).Doughnut( data_loss, option );

    // アコーディオンの設定
    $( ".accordion-parent" ).click(function () {
      $( this ).attr( 'data-href' );
    });

  });
</script>
