<%- model_class = Journal -%>
<%= setYears( @year ) %><br />
<%= setMonths( @year, @month ) %>

<div class="page-header">
  <h1><%=t '.title', :default => "#{@year}年#{@month}月の取引履歴" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:trade_date) %></th>
      <th><%= model_class.human_attribute_name(:debit_id) %></th>
      <th><%= model_class.human_attribute_name(:credit_id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:memo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.trade_date %></td>
        <td><%= journal.getAccount( journal.debit_type, journal.debit_id ).name %></td>
        <td><%= journal.getAccount( journal.credit_type, journal.credit_id ).name %></td>
        <td><%= journal.amount %></td>
        <td><%= journal.memo %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_journal_path(journal), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      journal_path(journal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
